.portfolio_menu {
    margin-bottom: 100px;
}

.menu_main {
    list-style-type: none;
    float: right;
    margin-right: 50px;
}
  
.menu_item {
    float: left;
    font-size: 20px;
}
  
.menu_item a {
    display: block;
    margin-left: 80px;
    color: black;
}


@media only screen and (max-width: 768px) {
    .portfolio_menu {
        width: 100%;
    }

    .menu_main {
        width: 95%;
        margin-top: 30px ;
    }

    .menu_item {
        width: 33%;
    }

}