
.main {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 25px;
    /* padding: 15px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.card {
    width: 90%;
    padding: 15px;
    /* margin: 50px; */
    /* border: solid black 1px; */
    border-radius: 15px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.card:hover {
    background: rgba(0, 0, 0, .2);
}

.logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /* border: solid black 1px; */
}

.type {
    width: 20%;
    font-size: 12px;
    padding: 2px;
    background: rgba(0, 0, 0, .2);
    border-radius: 15px;
    text-align: center;
    border: solid black 1px;
    float: left;
}

.post_in {
    width: 70%;
    font-size: 14px;
    padding-right: 6px;
    float: right;
    text-align: right;
}

.title {
    margin-top: 50px;
    font-size: 25px;
}

.description {
    padding: 3px;
    width: 95%;
    font-size: 15px;
}

.writefor {
    width: 100%;
    /* height: 20px; */
    border-radius: 50%;
    display: block;
    margin-top: 15px;
    align-content: center;
}

.writefor img {
    width: 10%;
    border-radius: 50%;
    display: block;
    margin-top: 15px;
    /* float: left; */
}

.writefor .name {
    width: 50%;
    font-size: 12px;
    /* float: right; */
}

.goto {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    border: solid black 1px;
    border-radius: 15px;
    padding: 5px;
}

.goto a {
    font-size: 15px;
    margin-left: 15px;
    color: black;
}

@media only screen and (max-width: 768px) {

    .main {
        grid-template-columns: repeat(1, 99%);
        
    }

    .card {
        width: 99%;
        border-top: solid black 1px;
        border-bottom: solid black 1px;
    }

    .post_in {
        display: inline;
        margin-top: 15px;
    }

    .type {
        width: 40%;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}