.name {
    font-family: 'Cormorant Unicase', serif;
    padding-left: 15px;
}

.part_01 {
    min-height: 300px;
}

.part_01 .name {
    font-size: 75px;
}

.part_02 h2 {
    margin-top: 15px;
    padding-left: 15px;
}